# Intellij workspace directory and files
**/.idea/
**/*.iml


#Misc directories
**/.project
**/.scannerwork
.classpath
.settings
.factorypath
.vscode

# Output directory for JET classes and binaries
**/target


# log and other test files/directories
Jet/log.txt
Jet/JET/src/test/resources/test-output/
